*
{

padding: 0;
margin: 0;
}
body{

background-size:cover;
background-position:center;
box-sizing: border-box;
font-family:sans-serif;
}
.menu-bar{
background-image:url("https://1.bp.blogspot.com/-yGs-n875AGA/WMImCk6ooCI/AAAAAAAABdI/ht8ngel74qwNlra2HCzsNPLxQBTlhtpwACLcB/s1600/001%2BVJEC%2B2.jpg");
text-align: center;
height:900px;
}
.menu-bar ul{

list-style: none;
color: #fff;
}
/***.menu-bar ul li{
width: 120px;
margin:15px;
padding: 15px;
dislpay:inline-block;
}


.menu-bar ul li
{
width: 120px;
margin: 15px;
padding: 15px;
}***/
.menu-bar ul li{
 display: inline-block;
  margin-right: 10px;
  width: 250px;
  padding: 15px;

}
.menu-bar ul li bar{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
background: #2bab0d;
border-radius: 3px;
}
.menu-bar .fa{
margin-right: 8px;
}
.sub-menu-1
{
display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
display:inline-block;
position: absolute;
background: rgb(0,100,0);
margin-top: 15px;
margin-left -15px;
}
.menu-bar ul li:hover .sub-menu-1{
display: inline-block;
margin:10px;
  width: 250px;
.menu-bar ul li:hover .sub-menu-1 ul li
{
width: 100px;
padding: 600px;
border-bottom:1px dotted #fff;
background:transparent;
border-radius: 500;
text-align: right;
}
.menu-bar .ul .li:hover .sub-menu-1 ul li:last-child
{
border-bottom: none;
}
.menu-bar .ul .li:hover .sub-menu-1 ul li a:hover
{
color: #b2ff00;
}