{% load static %}
<header>
    <center>
<!--        <h2 class="heading" style="color:blue"><b>ORBIDENTZ</b></h2>-->

    </center>

<nav class="navbar navbar-light"  style="background-color:#507d2a">
  <div class="container-fluid">

    <a class="navbar-brand" href="/"><h5 style="color:white">HOME</h5></a>

  </div>

</nav>
</header>
<head>
    <link rel="stylesheet"  href="{% static 'css/custom.css' %}">
    <link rel="stylesheet"  href="{% static 'js/has.js' %}">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5fcf3068b9.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
   <style>
       .heading {
     text-shadow: 2px 2px black;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  border-radius: 50%;
}

 .my_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
       .para{
       text-align: justify;
       }
       .sub{
        text-align:left;
       }

    </style>
</head>


<body>
<center>



    <h3 class="heading" style="color:orange">WELLNESS TOURISM</h3>

    <p class="para"> When people seek a time-out from their hectic schedules and travel to a certain place for leisure, they may also consider opting for a few activities that can have a positive
                            effect on their physical and mental well-being too. The increasing number of 5-star hotels and resorts that offer spa treatments and other such wellness packages to attract tourists demonstrate how important these services have become for the tourism industry today.
    </p>


    <div class="center">

        <img class="img" src="{% static 'images/3.jpg' %}" alt=""  width="500px;" height="200px;">
    </div>

    <p class="para"> Reliable research points out that the countries deemed to
have the healthiest people overall are Japan and
Switzerland and it is not surprising that millions of tourists
prefer travelling to these two countries in order to soak in
the wellness benefits while enjoying themselves through
their travel experiences. Health conscious tourists and
consumers seek to potentially improve their well-being
when they travel, they aspire to look and feel better and
also try to manage stress by indulging in activities that can
bring about a transformation in their body and spirit. Such
tourists are growing in number and are joined by other
like-minded individuals who travel to lose weight or to
relieve pain and discomfort because certain people still
think of wellness as something that only exists in certain
places and times.</p>
<hr>




      <h5 class="sub" style="color:red">WELLNESS TOURISM AN OVERVIEW</h5>
      <p class="para"> Wellness tourism is the powerful intersection of two large and growing multi-trillion-dollar industries: tourism and wellness. Holistic health and
prevention are increasingly at the center of consumer decision￾making, and people now expect to continue their healthy lifestyles and wellness routines when they are away from home.
Global Wellness Tourism Economy report—a landmark study that defined the parameters and characteristics of the emerging wellness tourism sector, estimated its global size, and highlighted its far￾reaching economic impacts. In that report, wellness tourism at $439
billion 2012. Since that time, wellness has become a major force in the global tourism market, with wellness tourism expenditures reaching $720 billion in 2019 (followed by a downturn in 2020 due to the
pandemic). Prior to the pandemic, wellness tourism had consistently grown much faster than regular tourism. Wellness tourism growth is expected to accelerate in the coming years with the post-pandemic
resurgence of tourism activities.</p>


    <hr>

    <h5 class="sub" style="color:red">Five Key Things to Know AboutWellness Tourism</h5>

    <p class="para" style="color:green">1. What is wellness tourism?</p>
   <p class="para">The wellness tourism as travel associated with the pursuit of
maintaining or enhancing one’s personal wellbeing. With so much
unwellness embedded in today’s travel, wellness tourism brings the
promise of combating those negative qualities and turning travel into
an opportunity to maintain and improve our holistic health</p>

<p class="para" style="color:green">2. Wellness tourism is not medical tourism?</p>

    <p class="para">Wellness tourism is often conflated with medical tourism—not only by
consumers but in destination marketing. This confusion is caused by
an incomplete understanding of these markets and inconsistent usage
of terminologies by destinations, government organizations and
promotion agencies. Sometimes the term “health tourism” is also used
as a catch-all to describe many types of medical and wellness
services and activities—from open heart surgery and dental care to
destination spas and yoga retreats—causing further confusion. In fact,
these two sectors operate largely in separate domains and meet
different consumer needs</p>
    <br>
       <p class="para"> A good way to understand the difference is to look at our health and
wellbeing on a continuum:

    </p>
</center>
</body>

<br>
