{% load static %}

<li class="active"><a href="index"><i class="fa fa-home"></i>HOME</a></li>
<br>

<style>
.my_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: red;
  text-align: center;
}
</style>
<body>






 <div class="row mx_auto">
        {% for n in mechanical_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">


                 <img class="card-img-top my_image" src="{{n.image.url}}" alt="{{n.name}}"  style="width:500px;height:500px;">
                <h1 style="color:red">{{n.name}}</h1>

<br>

                    <h2>{{n.description}}</h2>


            </div>
   </div>
        {% endfor %}
    </div>


</body>
<br>

<div class="footer navbar-fixed-bottom my_footer">
    <p style="text-align:center;">Neuton©2020. All rights reserved.</p>
</div>